@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  --light-grayish-blue: hsl(240, 5%, 91%);

  --ff-kumbh-sans: 'Kumbh Sans', sans-serif;
}

body {
  width: 100vw;
  min-width: 375px;
  height: 100vh;
  background-color: var(--soft-blue);
  background-image: linear-gradient(to top, var(--soft-blue), var(--soft-violet));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: var(--ff-kumbh-sans);
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  width: 327px;
  min-width: 327px;
  height: 550px;
  background-color: white;
  border-radius: 1.5rem;
  margin-top: 3.5rem;
}

.illustration {
  position: relative;
  width: 100%;
  height: 125px;
  background-image: url(./images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: 72.5%;
  background-position: 50px 0px;
}

.illustration .woman {
  position: absolute;
  top: -107px;
  left: 20px;
}

.illustration .box {
  display: none;
}

.content-container {
  width: 100%;
  min-width: 327px;
  padding: 1.75rem;
}

.heading {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.faq {
  text-align: left;
  border-bottom: 0.25px solid rgb(241, 236, 236);
  padding: 1rem 0;
}

.question-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: white;
  padding: 0;
  cursor: pointer;
}

.faq.display-answer .question-container {
  margin-bottom: 0.5rem;
}

.answer {
  display: none;
}

.faq.display-answer .answer {
  display: block;
}

.faq.display-answer img {
  transform: scaleY(-1);
}

.question {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--dark-grayish-blue);
}

.question:hover {
  color: var(--soft-red);
}

.faq.display-answer .question {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}

.answer {
  width: 95%;
  font-size: 0.75rem;
  color: var(--dark-grayish-blue);
  line-height: 1rem;
}

@media (min-width: 768px) {
  .container {
    width: 550px;
    margin-top: 5rem;
  }

  .illustration {
    height: 135px;
    background-size: 57.5%;
    background-position: 120px -5px;
  }

  .illustration .woman {
    position: absolute;
    width: 350px;
    top: -140px;
    left: 85px;
  }

  .content-container {
    padding: 2.5rem;
  }

  .question {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .container {
    background-color: #fff;
    width: 960px;
    height: 500px;
    display: flex;
    flex-direction: row;
    border-radius: 1.5rem;
    margin: 0;
  }

  .illustration {
    position: relative;
    width: 100%;
    min-width: 480px;
    height: 100%;
    background-image: url(./images/illustration-woman-online-desktop.svg), url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 200%;
    background-position: -75px 55px, -555px -300px;
  }

  .illustration .woman {
    display: none;
  }

  .illustration .box {
    display: block;
    position: absolute;
    top: 200px;
    left: -93px;
  }

  .content-container {
    width: 100%;
    min-width: 480px;
    padding: 4rem 6rem 3rem 3rem; /* top right bottom left */
  }

  .heading {
    text-align: start;
  }

  .question {
    font-size: 0.9rem;
  }
}
